# python cache
__pycache__/

# data
# data/*
# data/image/*

workspace.ipynb
.ipynb_checkpoints/

datafile/*

!datafile/sex_files/
!datafile/swarp_files/
!datafile/sex_files/*
!datafile/swarp_files/*

temp/
double_source.ipynb

# MacOS
.DS_Store

delmag_p1.cat
delmag_p3.cat
stars_check
*.csv
test.py
laake_logger.txt